@import "./Util/config";
@import "./Util/function";

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  max-width: $maxWidth;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  width: calc(100vw - 1em);
  margin: 0 auto;
}
.container_1 {
  height: 100vh;
  width: calc(100vw - 1em);
  margin: 0 auto;
  font-family: $pageFont;
  font-weight: 800;
  color: $fontColor;
  background: url(../Resources/svgexport-1.svg);
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.hel a {
  position: relative;
  text-decoration: none;
  color: $fontColor;
  margin: 0 0.8rem;
  padding: 0;
  letter-spacing: 0.3rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.hel a:after,
.hel a:before {
  content: "";
  position: absolute;
  background-color: $accentColor;
  height: 3px;
  width: 0px;
  bottom: -5px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.5s;
}

.hel a:before {
  left: 50%;
}
.hel a:after {
  right: 50%;
}

.hel a:hover:after,
a:hover:before {
  width: 50%;
  opacity: 1;
}

/* Title */
.Title {
  font-size: calc(2vw + 1rem);
}
