{
    // "extends":["react-app","prettier"],
    // "rules":{
    //     "prettier/prettier":"error"
    // },
    // "plugins":["prettier"]

    // OR 

    "extends":["react-app","plugin:prettier/recommended"]
}