.btn {
  font-family: "Alumni Sans", sans-serif;
  position: relative;
  font-weight: 600;
  font-size: calc(1.1vw + 0.4rem);
  line-height: 2;
  height: calc(6vh + 20px);
  transition: all 200ms linear;
  border-radius: 4px;
  width: calc(10vw + 20px);
  letter-spacing: 0.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: none;
  cursor: pointer;
  /* box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25); */
  outline: 0;
  text-transform: capitalize;
}
