// $backgroundColor: #0a100d;
$backgroundColor: #02021e;
$accentColor: #fcab10;
$fontColor: #fffafb;
$successColor: #2a9d8f;
$dangerColor: #f94144;
$maxWidth: 1500px;
$pageFont: "Alumni Sans";
$white-color: #fff;
$crimson-color: #e5003d;
$xiketic-color: #02021e;
$alice-blue-color: #ddebfa;
$purple-navy-color: #554f71;
$medium-blue-color: #3719ca;
$space-cadet-color: #32344d;
$dark-salmon-color: #e7a28f;
$baby-powder-color: #fbfefc;
$roman-silver-color: #80808e;
$lavender-gray-color: #cdcbd3;
$lavender-blue-color: #a6a6c2;
$deep-shampagne-color: #f9d6ac;
$xiketic-rgb-color: 2 2 30;
$text-gradient: linear-gradient(97.54deg,$dark-salmon-color 3.52%,$deep-shampagne-color 41.89%,$baby-powder-color 96.77%);
$slider-gradient: linear-gradient(126.47deg,rgba(132,164,255,.2) 6.69%,rgba(2,2,30,0) 85.43%);
$popup-gradient: linear-gradient(253.36deg,#0f0752 4.15%,#02021e 102.26%);
