@import "../Util/config";

.footer{
    display:flex;
    flex-flow: column;
    
    background-color: #02021E;
    font-family: $pageFont;
    font-size: 50px;
    color: #FFFFFF; 

    .knowAbouts{
        display:flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 3rem;
        padding:0 4rem;
        letter-spacing: 0.05rem;
    }
    

    p{
        font-size: 1.1rem;
        color: #a6a6c2;
        margin : 0.4rem 0;
        
    }
    h6{
        font-size: 1.7rem;
        letter-spacing: 0.08rem;
        margin-bottom: 0.7rem;
        font-weight: 600;
    }
    a{
        text-decoration: none;
        color:#a6a6c2;
        font-size: 1.1rem;
    }
}

// Bottom social media icons and line above them 
.bottomLine{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: relative;
    &:before{
        background: hsla(256,7%,44%,.5);
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        
        @media(min-width:767px){
            left: 4rem;
            right: 4rem;
        }   
    }

    h6{
        font-size: 1.2rem;
        font-weight: 300;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    a{
        margin-right: 0.5rem;
        border-radius: 100%;
        border: 1px solid #FFFFFF;
        display: flex;
        height: max(3rem,2.5rem);
        justify-content: center;
        align-items: center;
        width: max(3rem,2.5rem);
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color:#FFFFFF;
            svg{
                fill:blue;
            }
        }
    }


    
}

.footerLinks{

    a{
        transition: all 0.2s ease-in-out;
        &:hover{
            color: #FFFFFF;
        }
    }
}