@import "../Util/config";

.illuminationTop{
    &:before{
        content: "";
        display: block;
        height: 22rem;
        left: 0;
        opacity: .15;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.illuminationTopLeft{
    &:before{
        background-image: radial-gradient(42% 40% at 20% 20%,#3719ca 0,rgba(55,25,202,0) 100%);
    }
}

.maxWidth{
    max-width: 1679px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    margin-bottom: 5rem;
    @media(min-width: 767px){
        margin-bottom: 10rem;
    }
}
.title{
    font-weight: 400;
    line-height: 1.4;
    margin: 4rem auto;
    text-align: center;
    text-transform: capitalize;

    @media (min-width: 767px){
        margin-bottom: 5rem;
        margin-top: 4rem;
    }
}

.title.titleBig {
    font-size: 3.8rem;
    @media (min-width: 767px)
    {
        font-size: 4.8rem;
    }
}

.textGradient{
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $text-gradient;
    color: transparent;
}

.projectItem {
    --margin-bottom-units-count: 5;
    margin-bottom: calc(var(--margin-bottom-units-count)*var(--unit));

    @media (min-width: 767px)
    {
        align-items: center;
        display: flex;
        &:not(:last-child){
            --margin-bottom-units-count: 8;
        }
        &:nth-of-type(odd) {
            flex-direction: row-reverse;
            margin-left:0;
        }
    }
}

.projectItemImage {
    z-index: -1;
    @media (min-width: 767px)
    {
        --width-units-count: 32;
        width: calc(var(--width-units-count)*var(--unit));
        margin-left:0;
    }

    @media (min-width: 1023px)
    {
        --width-units-count: 38;
        width: calc(var(--width-units-count)*var(--unit));
    }
    .imageContainer{
        display: block;
        font-size: 0;
        position: relative;
        &:before{
            aspect-ratio: 4/3;
            content: "";
            display: block
        }

        img{
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: transform .25s cubic-bezier(.22,.81,.49,1.01);
        }
    }
}

.projectItemText {
    --padding-left-units-count: 2;
    --padding-right-units-count: 2;
    padding-left: calc(var(--padding-left-units-count)*var(--unit));
    padding-right: calc(var(--padding-right-units-count)*var(--unit));
    @media (min-width: 767px)
    {
        --padding-left-units-count: 0;
        --padding-right-units-count: 0;
        --margin-left-units-count: -3;
        --width-units-count: 19;
        margin-left: calc(var(--margin-left-units-count)*var(--unit));
        width: calc(var(--width-units-count)*var(--unit));
        margin-left: 0;
    }

    .projectTitle{
        --font-size-units-count: 1.8;
        --margin-bottom-units-count: 2;
        line-height: 1.4;
        margin-bottom: calc(var(--margin-bottom-units-count)*var(--unit));
        margin-top: 0;
    }

    .viewButton{
        --font-size-units-count: 0.7;
        --letter-spacing-units-count: 0.5;
        --margin-bottom-units-count: 3;
        // font-size: max(0.75rem,calc(var(--font-size-units-count)*var(--unit)));
        font-weight: 600;
        letter-spacing: calc(var(--letter-spacing-units-count)*var(--unit));
        margin-bottom: calc(var(--margin-bottom-units-count)*var(--unit));
        text-transform: uppercase;
        @media(min-width:767px){
            --margin-bottom-units-count: 6;
        }
    }
}

@media (min-width: 767px) and (min-width: 767px){
    .project-item:nth-of-type(odd) .project-item-text {
        --margin-right-units-count: -4;
        margin-right: calc(var(--margin-right-units-count)*var(--unit));
    }
}


@media (min-width: 767px) and (min-width: 1023px){
    .project-item:nth-of-type(odd) .project-item-text {
        --margin-right-units-count: -3;
        margin-right: calc(var(--margin-right-units-count)*var(--unit));
    }

}

.projectTags{
    --margin-bottom-units-count: 0.8;
    color: $lavender-gray-color;
    font-weight: 300;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: calc(var(--margin-bottom-units-count)*var(--unit))
}

.blackText{
    font-size: max(1.25rem,1.5rem);
    font-weight: 400;
}

.underlinedText{
    color: $white-color;
    display: inline-block;
    position: relative;
    text-decoration: none;
    &:after{
        background-image: $text-gradient;
        bottom: -0.5rem;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        transition: width .25s ease-in-out;
        width: 50%;

        
    }
    &:hover:after{
        width:100%;
    }
}

img{
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}