@import "../Util/config";

.display {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-content: space-between;
  @media (max-width: 600px) {
    display: block;
    overflow: hidden;
  }
}
.container {
  height: 100vh;
  width: calc(100vw - 5em);
  margin: 0 auto;
  font-family: $pageFont;
  font-weight: 600;
  color: $fontColor;
  background: url(../../Resources/svgexport-1.svg);
}
.text {
  text-align: left;
  text-justify: distribute;
  letter-spacing: 0.3rem;
  font-size: calc(3rem + 1vw);
  @media (max-width: 800px) {
    font-size: calc(2.5rem + 1vw);
    letter-spacing: 0.3rem;
  }
  @media (max-width: 600px) {
    font-size: calc(2rem + 1vw);
    letter-spacing: 0.1rem;
    padding: 0 20px;
  }
}
.font {
  margin-top: calc(200px + 0.5rem);
}

.heroImg {
  width: 80%;
  height: auto;
  margin: 0 2rem;
  max-width: 100%;
}
