* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131515;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: calc(100vw - 1em);
  margin: 0 auto;
  font-family: "Alumni Sans";
  font-size: 1.4rem;
  color: #fffafb;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}
.hel a {
  position: relative;
  text-decoration: none;
  color: #fffafb;
  padding: 0 0.8rem;
  letter-spacing: 0.3rem;
}

.hel a:after {
  content: "";
  position: absolute;
  background-color: #ee9b00;
  height: 3px;
  width: 0;
  left: 15%;
  bottom: -5px;
  transition: 0.5s;
}

.hel a:hover:after {
  width: 65%;
}
