:root{
--backgroundColor: #02021e;
--accentColor: #fcab10;
--fontColor: #fffafb;
--successColor: #2a9d8f;
--dangerColor: #f94144;
--maxWidth: 1500px;
--pageFont: "Alumni Sans";
--white-color: #fff;
--crimson-color: #e5003d;
--xiketic-color: #02021e;
--alice-blue-color: #ddebfa;
--purple-navy-color: #554f71;
--medium-blue-color: #3719ca;
--space-cadet-color: #32344d;
--dark-salmon-color: #e7a28f;
--baby-powder-color: #fbfefc;
--roman-silver-color: #80808e;
--lavender-gray-color: #cdcbd3;
--lavender-blue-color: #a6a6c2;
--deep-shampagne-color: #f9d6ac;
--xiketic-rgb-color: 2 2 30;
--text-gradient: linear-gradient(97.54deg,var(--dark-salmon-color) 3.52%,var(--deep-shampagne-color) 41.89%,var(--baby-powder-color) 96.77%);
--slider-gradient: linear-gradient(126.47deg,rgba(132,164,255,.2) 6.69%,rgba(2,2,30,0) 85.43%);
--popup-gradient: linear-gradient(253.36deg,#0f0752 4.15%,#02021e 102.26%);



--bottom-block-background: linear-gradient(0deg,var(--medium-blue-color),var(--medium-blue-color)),linear-gradient(89.8deg,var(--medium-blue-color) 0.16%,#8161fe 99.8%);

}

html{
  --scrollbar-width: 18px;
    --app-height: 1101px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --scrollbar-width: 21px;
--unit: max(10px,min(calc(0.78125vw - var(--scrollbar-width)*0.00781 + 10px),25px));
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  margin-left: auto;
  margin-right: auto;
}

.title{
    font-weight: 400;
    line-height: 1.4;
    margin: 4rem auto;
    text-align: center;
    text-transform: capitalize;
}

.title.title-big {
  font-size: 3.8rem;
}

@media (min-width: 767px){
  .title.title-big {
    font-size: 4.8rem;
  }
  .title {
    margin-bottom: 5rem;
    margin-top: 4rem;
  }
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--text-gradient);
  color: transparent;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
